<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Mis resultados</ion-title>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Preguntas</ion-label>
    </ion-item>
    
    <ion-card-content>
      <div [hidden]="!chart">
        <canvas id="canvas"></canvas>
      </div>    
    </ion-card-content>
  </ion-card>
</ion-content>
