#god_job {
    left: 0px;
    width: 46px;
    background: url('../../assets/recursos/animation_varios.gif') 0 0;
  }
  
  #try_again {
    left: 0px;
    width: 158px;
    height: 158px;
    background: url('../../assets/recursos/animation_varios.gif') -47px 0;
  }
  
  #victory {
    left: 129px;
    width: 43px;
    background: url('../../assets/recursos/animation_varios.gif') -91px 0;
  }
  