<ion-header>
  <ion-toolbar>
    <ion-title>respuesta-pregunta-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <img  class="height-leccion-image" src="{{ getUrl() }}/getById/{{pregunta.respuesta.archivoId}}"  alt="{{ pregunta.descripcion }}"  >
  
  <ion-item>
    <ion-icon name="checkmark-circle" slot="end"  color="primary" iconMode="ios"></ion-icon>
    <ion-label><h2 class="ion-text-center">{{pregunta.respuesta.frase}}</h2></ion-label>
  </ion-item>

  <ion-item>
    <ion-icon *ngIf="esRespuestaCorrecta" name="checkmark-circle" slot="end" iconMode="ios" color="success"></ion-icon>
    <ion-icon *ngIf="!esRespuestaCorrecta" name="close-circle" slot="end"  iconMode="ios" color="danger"></ion-icon>
    <ion-label *ngIf="esRespuestaCorrecta" color="success" ><h2 class="ion-text-center">{{respuesta.opcion.nombre}}</h2></ion-label>
    <ion-label *ngIf="!esRespuestaCorrecta" color="danger" ><h2 class="ion-text-center">{{respuesta.opcion.nombre}}</h2></ion-label>
  </ion-item>
  
  <!-- ion-item: ok -->
  <img  *ngIf="esRespuestaCorrecta" class="height-sensation-image" src="../../../assets/recursos/gifs/giphy-ok.gif" >
  <img  *ngIf="!esRespuestaCorrecta" class="height-sensation-image" src="../../../assets/recursos/gifs/giphy-try-again.gif" >
  
  <ion-button (click)="salirSinArgumentos()" expand="block">
    Continuar
  </ion-button>
</ion-content>
