<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="home"></ion-icon>
      <ion-label>Grupos</ion-label>
    </ion-item>
    
    <ion-card-content>
      <ion-list>     
        <ion-item *ngFor="let grupo of grupos">
          <ion-card>
            <img src="../../../assets/recursos/start-ideas.jpg">
            
            <ion-card-header>
              <ion-card-subtitle>Año: {{ grupo.anio }} </ion-card-subtitle>
              <ion-card-title>Grupo {{ grupo.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>
                 <h3>Por {{ grupo.usuario.nombre }}</h3>  
                 <ion-img class="pick-avatar" 
                    src="../../../assets/avatars/{{ grupo.usuario.avatar  }}"
                    [ngClass]="'selecionado'"></ion-img>
              </ion-label>
              
              <ion-button (click)="onSeleccionar(grupo)" expand="full">
                <ion-icon slot="start" name="add"></ion-icon>
                Seleccionar
              </ion-button>
            </ion-card-content>
          </ion-card>

        </ion-item>

    </ion-list>
    </ion-card-content>

  </ion-card>
  
   

</ion-content>
