.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

ion-card {
    width: 96%;
}

.slide-full {
    height: 100% !important;
}

// ion-card {
//     overflow: unset !important;
// }

// ion-card {
//     height: 200px;
//     width: 300px;
// }

.slide-image {
    width: 100px;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    //top: -20px;
}

.ml-10 {
    padding-left: 10px;
}

// ion-card-header {
//     position: relative;
//     top: -50px;
// }

// ion-card-content {
//     position: relative;
//     top: -50px;
// }

.avatar {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 0.7 !important;
    margin-left: auto;
    margin-right: auto;
}

.height-leccion-image {
    max-height: 200px;
}

.background-gray {
    background-color: gainsboro;
}